{% extends "quizzes/base.html" %}
{% block content %}
{% load static %}

<h2>Create New Quiz</h2>

<form action="{% url 'answer_question' quiz_id=quiz.id question_id=question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.Text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for quiz_question_option in question.quiz_question_option_set.all %}
            <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ quiz_question_option.id }}">
            <label for="option{{ forloop.counter }}">{{ quiz_question_option.Text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Save">
    </form>
{% endblock %}
