{% extends "quizzes/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_question_view.css' %}">
<h2>Answer Question</h2>

<form action="{% url 'answer_question' quiz_id=question.Quiz_ID.id question_id=question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
       <h3>{{ question.Text }}</h3>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for quiz_question_option in question.quiz_question_option_set.all %}
            <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ quiz_question_option.id }}">
            <label for="option{{ forloop.counter }}">{{ quiz_question_option.Text }}</label><br>
        {% endfor %}
    </fieldset>
    <button class="action-button" type="submit">Continue</button>
    </form>
{% endblock %}
