{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_view.css' %}">
<h1>{{quiz.Title}}</h1>
<div>Quiz Genre: {{quiz.Genre}}</div>
<br>


<h3>Quiz Questions</h3>
<ul>
  {% for question in quiz.quiz_question_set.all %}
  <li><a href="{% url 'view_quiz_question' question.id %}">{{question.Text}}</a></li>
  {% endfor %}
</ul>
 

<br>

<a href="{% url 'create_question' quiz.id %}">Add Another Question</a>
<br>
  <a href="{% url 'view_genre' quiz.Genre.id%}">Back to Quizzes</a>

{% endblock %}