<!-- Question Creation Page-->
<!-- http://localhost:8080/2/add_question_option -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_option_form.css' %}">
<h1>Add Option:</h1>
<div class="create_quiz_option_form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% for form in formset %}
            <div>
            {{form.as_p}}
            </div>
        {% endfor %}
        <input type="submit" value="Save">
    </form>
</div>