{% extends 'quizzes/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_genres.css' %}">
{% endblock %}

{% block content %}
<!-- Create_quiz_question Page -->
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_genres.css' %}">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% for form in formset %}
        <div>
        {{form.as_p}}
        </div>
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock %}
