{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_form.css' %}">

<h2>Create New Quiz</h2>

<div class="create-new-quiz">
    <form class="" action="" method="POST">
         {% csrf_token %}
          
        <div class="form-group col-md-8 ">
            {{quiz_form.Title}}
        </div>
        <div class="form-group col-md-4">
            {{quiz_form.Genre}}
        </div>
 
        <div class="form-group col-md-8 ">
        {{quiz_question_form.Text}}
        </div>
        <div class="form-group col-md-4 ">
        {{quiz_question_option_formset.as_p}}
        </div>
         
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-sm" >Submit</button>
          </div>
    </form>
</div>
