{% extends 'quizzes/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'quizzes/quiz_genre_view.css' %}">
{% endblock %}

{% block content %}
<h1>Quizzes in {{quiz_genre.Text}} Genre</h1>
<h2></h2> <!-- I needed this here so the styling updates for some reason. I think it has to do with the if statement-->

{% if quiz_genre.quiz_set.all %}
  <ul>
    {% for quiz in quiz_genre.quiz_set.all %}
      <li><a href="{% url 'view_quiz' quiz.id %}">{{quiz.Title}}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <h2>There are no quizzes in this Genre</h2>
{% endif %}

<br />

<div class="back">
  <a href="/">Back to All Genres</a>
</div>
{% endblock %}
