
/* Start of button styling */
.action-button, .secondary-button {
  padding: 0.3em 1.2em;
  border: 0.12em solid rgba(255,255,255,0);
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
}

.action-button:hover, .secondary-button:hover {
  color: white;
  border-color: rgba(255,255,255,1);
}

.action-button {
  background-color: #fc6100;  
}

.secondary-button {
  background-color: #f56c36;  
}

select {
  overflow: hidden;
  background-color: #f87b0f;
  color: white;
  position: relative;
  font-weight: 300;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.home-link {
  color: #b63607;
  text-decoration: none;
}

.home-link:hover {
  color: #fff;
}

a {
  color: #b63607;
}

a:hover {
  color: #fff;
}
