/* Start of header styling */
h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 55px;
}

h2 {
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
}
/* End of header styling */



/* Start of add option styling */
.add_option {
  margin-left: 15px;
  font-size: 18px;
}
/* End of add option */

.content{
  text-align: center;
}

/* Start of option list styling */
ul {
  font-size: 20px;
  display: inline-block;
  text-align: left;
}

li {
  padding-bottom: 10px;
}
/* End of option list styling */



/* Start of link styling */
a {
  color: black;
}

a:hover {
  color: white;
}
/* End of link styling */

.buttons{
  text-align: center;
}

/* Start of back button styling */
.back {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;

  /* Place at bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
