.content{
  text-align: center;
}

ul {
  font-size: 20px;
  display: inline-block;
  text-align: left;
}

/* Start of header styling */
h1 {
  padding-top: 20px;
  text-align: center;
  font-size: clamp(30px, 50px, 75px);
}

h2 { /* No quizzes in genre */
  font-size: 30px;
  margin-left: 20px;
}
/* End of header styling */


/* Start of quiz list styling */
li {
  font-size: 25px;
  padding-bottom: 15px;
}

/* End of quiz list styling */


/* Start of link styling */
a {
  color: black;
}

a:hover {
  color: white;
}
/* End of link styling */


/* Start of back button styling */
.back {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;

  /* Place at bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}