/* Start of header styling */

h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 55px;
}

h2{
  text-align: center;
  font-size: 40px;
}

h3{
  text-align: center;
  font-size: 28px
}

h4{
  text-align: center;
  margin-bottom: 50px;
}




/* Start of question list styling */

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*border-style: solid;
  border-color: white;*/
}

.options_list{
  margin-bottom: 50px;
}

.questions_list{
  white-space: nowrap;
  padding-bottom: 10px;
}

.inner_cell {
  /*vertical-align: top;*/
  width: 33%;
  display: inline-block;
  flex: 0 0 32%;              /* don't grow, don't shrink, width */
  margin-bottom: 5px;
  /*border-style: dashed;
  border-color: rgb(255, 94, 0);*/
}


.outer_cell{
  /*vertical-align: top;*/
  width: 33%;
  display: inline-block;
  flex: 0 0 32%;              /* don't grow, don't shrink, width */
  margin-bottom: 5px;
  min-width: 500px;
  /*padding-right: 200px;*/
  /*border-style: dashed;
  border-color: rgb(255, 94, 0);*/
}


.grid li a {
  vertical-align: top;
  font-size: 20px;
  color: black;
}

.grid li a:hover {
  color: white;
}




/* Start of  button styling */
.start_quiz{
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
}

.add_option{
  white-space: nowrap;
}

.add_question {
  text-align: center;
}



/* Start of back button styling */
.back {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;

  /* Place at bottom */
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
