/* Start of header styling */
h1, h2 {
  text-align: center;
}

h1 {
  perspective: 10px;
  font-size: clamp(10px, 75px, 100px);
}
/* End of header styling */


/* Start of genre list styling */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: auto;
  /*border-style: dashed;*/
}

.genre_list {
  display: block;
  margin: 0 auto; /* Centers element */
  max-width: 720px;
  min-width: 10vw;
}

.genre_list ul {
  position: relative;
  display: inline-block;

  list-style: none;
  width: 100%;
  margin: auto; /* Centers element */
  padding: 0;
  /*border-style: solid;
  border-color: white;*/
}

.genre_list li {
  display: inline-block;
  width: 200px;
  height: 100px;
  list-style: none;
  text-align: center;
  margin: 16px;
  /*border-style: solid;*/
}

.genre_list li img {
  width: 100%;
  height: 100%;
}

.genre_list li a {
  text-decoration: none;
  color: black;
}

.genre_list li a:hover {
  color: white;
}
/* End of genre list styling */


.login-logout[disabled] {
  margin: 0 auto; /* Centers element */
  margin-top: 30px;
  display: block;
  background-color: white;
  border-radius: 10%;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
}

.login-logout:hover {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 255, 21);
}

.register[disabled] {
  margin: 0 auto; /* Centers element */
  margin-top: 30px;
  display: block;
  background-color: white;
  border-radius: 10%;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
}

.register:hover {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 255, 21);
}


#create-quiz {
  position: fixed;
  margin: 10px auto;
  width: 180px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* End of button styling */


/* Start of fading animations */
.fade-in-title {
  animation: fadeInTitle 2s;
}

.fade-in-description {
  animation: fadeInDescription 2s;
}

.fade-in-content {
  animation: fadeInContent 2s;
}

@keyframes fadeInTitle {
  0%   {opacity: 0;}
  33%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes fadeInDescription {
  0%   {opacity: 0;}
  33%  {opacity: 0;}
  66%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes fadeInContent {
  0%   {opacity: 0;}
  66%  {opacity: 0;}
  100% {opacity: 1;}
}
/* End of fading animations */
