@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald:wght@500&family=Open+Sans+Condensed:wght@300&display=swapdisplay=swap);

#preview{
    margin-top: 50px;
    width: 200px; 
    height: 200px;
    border-radius: 2%;
    font-family: verdana, sans-serif;
}

#showStrength{
    font-size: 15px;
    margin-top: 1px;
}

#requirements{
    margin-top: 50px;
    font-size: 20px;
}

#requirementOptions{
    
    font-size: 18px;
    color: red;
}

#password-strength-meter{
    width: 90%;
    background-color: whitesmoke;
}

#h{
    text-align: center;
}

