@import url(https: //fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald: wght@500&family=Open+Sans+Condensed: wght@300&display=swapdisplay=swap);

#preview {
  margin-top: 50px;
  width: 200px; 
  height: 200px;
  border-radius: 2%;
  font-family: verdana, sans-serif;
}

#requirements {
  font-size: 20px;
  color: red;
}

#password-strength-meter {
  width: 90%;
}

#h {
  text-align: center;
}